@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';
@import '../../bower_components/normalize-css/normalize.css';

@mixin respond-to-lap-and-desk() {
   @include media (all and (min-width 480px), 12) {
     @content;
   }
}

header {
    position: fixed; // header does not move when scrolling
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: navy;
    color: white;
    @include respond-to-lap-and-desk() {
       position: static;
    }
}

section {
   @include respond-to-lap-and-desk(){
       @include span-columns(6);
    }
}
