body {
 margin: 0px;
}

* {
  box-sizing: border-box; // without this it adds the width hieght etc including the padding and the border
}

//display-inline - similar to running text
.box-model {
 display: inline-block;
 width: 33%;
 float: left; //allowing other parts of the document to float around this one on the right
 width: 30%;
 padding:50px;
 border: 50px solid red;
 border-top-color: hotpink;
 border-right-color: greenyellow;
 border-bottom-color: green;
 border-left-color: blueviolet;
 background-color: #802e23;

 outline: 25px solid rgba(blue, 0.5);
}
