@import "../bower_components/bourbon/dist/bourbon";
//Grid setup
$visual-grid-color: grey;
$visual-grid: true;
$lap-and-desk:  'screen and (min-width: 480px)';
@import "../bower_components/neat/app/assets/stylesheets/neat";

body {
  @include outer-container;
}

section {
    @include media(all and (min-width 480px), 12) {
      @include span-columns(6); // default neat grid has a 12 column grid. span columns 6 means half the grid
    }
}


