* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: "";
    display: table;
    clear: both; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  section:last-child {
    margin-right: 0; }
